body {
    background-color: #f8f9fa;
}

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.card {
    margin-top: 5px;
    background-color: #fff;
}

.currency-mark {
    float: right !important;
    color: green;
}

.panelRight {
    border-left: 2px #e4e4e4 solid;
}

.price-base {
    background-color: #e4e4e4;
}

.status {
    text-align: center
}

.statusText {
    background: green;
    display: inline-block !important;
    padding: 0 30px;
    border-radius: 2px;
    font-weight: 50;
}